
.btn {
 color: rebeccapurple;
 background-color: gainsboro;
 font-family: Georgia, serif;;
 border-style: dashed;
 border-color: rebeccapurple;
 font-size: 15px;
 border-radius: 10px;
 padding-top: 17px;
 padding-right: 20px;
 padding-left: 20px;
 padding-bottom: 17px; 
}
body {
  background-color: lightblue;
}
.description{
    color: rebeccapurple;
    font-family: Georgia, serif;
}

.wooper {
    width: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}


.box {
    width: 300px;
    display: block;
    margin-left: auto;   
    margin-right: auto;
    width: 50%;
    
}
 
  textarea{
    resize: none;
  } 

  .circle{
    width:75px;
    border-radius: 50%;
    font-size:55px;
  }
  #orange{
    background-color: chocolate;
  }
 #blue{
  background-color: #318CE7;
 }
 #yellow{
  background-color: yellow;
 }
 #purple{
  background-color: #7B3F00;
 }
 #red{
  background-color: green;
 }
 #black{
  background-color:gray;
 }

 .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 1%;
  visibility: hidden;
} 

.line1{
  display: flex; 
  justify-content: space-evenly ; 
  
}
.line2{
  display: flex; 
  justify-content: space-evenly ; 
}

.line3{
  display: flex; 
  justify-content: space-evenly ; 
}

.line4{
  display: flex; 
  justify-content: space-evenly ; 
}

.line5{
  display: flex; 
  justify-content: space-evenly ; 
}

.line6{
  display: flex; 
  justify-content: space-evenly ; 
}

.line7{
  display: flex; 
  justify-content: space-evenly ; 
}

.line8{
  display: flex; 
  justify-content: space-evenly ; 
}

.line9{ 
  display: flex; 
  justify-content: space-evenly ; 
}

.line10{
  display: flex; 
  justify-content: space-evenly ; 
}
.yellow{
 visibility: visible;
 background-color: yellow;
 border-radius: 50%;
 height:  50px; 
 width: 50px; 
}
.blue{
 visibility: visible;
 background-color: blue;
 border-radius: 50%;
 height:  50px; 
 width: 50px; 

}
.orange {
  visibility: visible;
  background-color: chocolate;
  border-radius: 50%;
 height:  50px; 
 width: 50px; 
}
.brown{
 visibility: visible;
background-color: #7B3F00;
 border-radius: 50%;
 height:  50px; 
 width: 50px;  
}
.green{
 visibility: visible;
 background-color: green; 
 border-radius: 50%;
 height:  50px; 
 width: 50px; 
}
.black{
 visibility: visible;
 background-color: black;
 border-radius: 50%;
 height:  50px; 
 width: 50px; 
}

.nosolutions {
  visibility: hidden;

}

.noSolution {
  visibility: visible;
}